<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todo</title>
</head>
<body>
    <div id="app">
        <h1>Todo App</h1>
        <input type="text" v-model="inputText" v-on:keyup.enter="addItem">
        <button v-on:click="fetchItems">add</button>
        <div>
            <li v-for="(todoItem, index) in todoItems">
                {{ todoItem }}
                <button v-on:click="removeItem(todoItem, index)">remove</button>
            </li>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            created: function(){
              //인스턴스 생성시 이게 실행된다.
                this.fetchItems();
            },
            el: '#app'
            ,data: {
                inputText: '',
                todoItems: []
            }
            ,methods: {
                addItem: function(event){
                    // if(event.key === "Enter"){
                        console.log("add");
                        var value = this.inputText;
                        localStorage.setItem(value, value);
                        this.inputText = '';
                        this.todoItems.push(value);
                    // }
                },
                fetchItems: function(){
                    for(var i=0; i<localStorage.length; i++){
                        this.addItem()
                        var item = localStorage.key(i);
                        console.log(item);
                        if(!this.todoItems.includes(item)){
                            this.todoItems.push(item);
                        }
                    }
                },
                removeItem: function(todoItem, index){
                    console.log(todoItem, index);
                    this.todoItems.splice(index, 1);
                    localStorage.removeItem(todoItem);
                    
                }
            }
        })
    </script>
</body>
</html>